@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* 

a {
	text-decoration: none;
}

tr, td {
	text-align: center;
}

.body {
	background-color: #ffffff;
}

.card-login {
	background-color: white;
	border-radius: 8px;
	box-shadow: 3px 3px 3px gray;
	padding: 20px;
	margin: 150px 400px;
}

.card-regis {
	background-color: white;
	border-radius: 8px;
	box-shadow: 3px 3px 3px gray;
	padding: 20px;
	margin: 100px 350px;
}

.form {
	padding: 5px 30px;
}

.form label {
	display: block;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.form input[type="email"],
input[type="text"],
input[type="number"],  
input[type="password"] {
      border: none;
      border-bottom: 1px solid #7FFFD4;
      color: black;
      font-size: 15px;
      margin-bottom: 15px;
      width: 100%;     
 }
 
 .form input[type="email"]:focus,
 input[type="text"]:focus,
  input[type="number"]:focus,   
 input[type="password"]:focus,
 .form textarea:focus {
      border-bottom: 1px solid black;
      outline: none;
 }

 .button-logregis {
 	background-color: #7FFFD4;
 	border-radius: 20px;
 	border : 1px solid #7FFFD4;
 	padding: 10px;
 	margin: 10px;
 	width: 200px;	
 }

 .button-regis {
 	background-color: #7FFFD4;
 	border-radius: 7px;
 	border : 1px solid #7FFFD4;
 	color: black;
 	padding: 10px;
 	margin: 20px;
 }